<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" >

<title>Page not found </title>
</head>
<body>
	<div class="well">
        <h1>Something Just Went Wrong !</h1>
        <h2>404 Error</h2>
        <p th:text="${exception.getMessage()}"></p>
      </div>
      <p>For Some Reason The Page You Requested Could Not Be Found On Our Server</p>
	
	<script src="/webjars/jquery/1.11.1/jquery.min.js"
		></script>
</body>
</html>